@import '../../../styles.scss';

.services-container {
  .page-header {
    background: url(../../../assets/images/services.jpg);
    background-size: cover;
    height: 27em;
    background-repeat: no-repeat;
  }
  .services-content {
    display: flex;
  }
  .services-main-item {
    display: flex;
  }
}